<button (click)="update()"> update</button>
<ul class="list-group" *ngFor="let post of posts | slice: start: start + len trackBy: trackFn">
  <li class="list-group-item">{{post.userName}}<br>{{post.userId}}<br>{{post.content}}<br>{{post.postTime}}</li>
</ul>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary" (click)= "pager(0)">1</button>
    <button type="button" class="btn btn-secondary" (click)= "pager(1)">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
  </div>
</div>